# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    # if a is even and b is even
    if a % 2 == 0 and b % 2 == 0:
        # return small num
        if a < b :
            return a
        else :
            return b
    # if a or b is odd    
    else :
        # return greater num
        if a < b :
            return b
        else :
            return a

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [5]:
def animal_crackers(text):
    # split sentence
    sentence = text.split()
    # make sure that first letter in two word are same 
    if sentence [0][0] == sentence [1][0]:
        # if it return true
        return True
    # if not return false
    else :
        return False

In [6]:
# Check
animal_crackers('Levelheaded Llama')

True

In [7]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [10]:
def makes_twenty(n1,n2):
    # return True if the sum of the integers is 20 or if one of the integers is 20
    if n1 + n2 or n1 == 20 or n2 == 20:
        return True
    # if not, return False
    else :
        return False

In [11]:
# Check
makes_twenty(20,10)

True

In [12]:
# Check
makes_twenty(2,3)

True

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [14]:
def old_macdonald(name):
    #  function that capitalizes the first and fourth letters of a name 
    x = name[0].upper()
    y = name[3].upper()
    
    # print it 
    print(x + name[0:3]+ y + name[4::])

In [16]:
# Check
old_macdonald('macdonald')

MmacDonald

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [20]:
def almost_there(n):
    #  function that return True if n is within 10 of either 100 or 200
    if n in range (90,111) or n in range (190,211):
        return True
    else:
        return False

In [23]:
# Check
almost_there(90)

True

In [18]:
# Check
almost_there(104)

True

In [21]:
# Check
almost_there(150)

False

In [22]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [58]:
def has_33(nums):
    
    for i in range (len(nums)-1):
        if nums [i] == 3:
            if nums [i+1] == 3:
                return True
        
    return False

In [59]:
# Check
has_33([1, 3, 3])

True

In [60]:
# Check
has_33([1, 3, 1, 3])

False

In [61]:
# Check
has_33([3, 1, 3])

False

In [62]:
# Check
has_33([3, 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [47]:
def paper_doll(text):
    # store value
    temp = ""
    # for loop check letter by letter
    for letter in text :
        # store after repeat letter 3 times 
        temp += (letter*3)
    return temp

In [48]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [49]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [56]:
def blackjack(a,b,c):
    # sum of a and b and c
    sum = a + b + c
    # store value
    x = 0
    # cheak if sum is less than or equal to 21 
    if sum <= 21 :
        
        return sum 
    # if th
    elif sum > 21:
        if a == 11 or b == 11 or c == 11:
            x = sum - 10
            if x > 21 :
                return "Bust"
            else :
                return x
            
        else :
            return 'Bust'

In [51]:
# Check
blackjack(5,6,7)

18

In [57]:
# Check
blackjack(9,9,9)

'Bust'

In [54]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    pass

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [40]:
def spy_game(nums):
    for i in nums:
        x=0
        y=0
        if i in nums == 0 :
            x = 0
        elif i == 0 and x == 0:
            y = 0
        elif i == 7 and x == 0 and y == 0:
            return True 
    return False

In [41]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [42]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [43]:
# Check
spy_game([1,7,2,0,4,5,0])

True

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

## Great Job!